.containerBreakdown{
    width: 70%;
    margin: 0 auto;
}

.pieContainer{
    display: flex;
    height: 30rem !important;
    width: max-content;
    margin: 0 auto;
}

.breakdownTitle{
    border-left: 10px groove darkslateblue;
    padding-left: 6px;
}