.header{
    box-shadow: 3px 2px 10px rgba(1, 10, 112, 0.3);
    padding: 0.8rem 0;
    width: 100%;
}

.logo{
    font-size: 1.2rem;
    color: darkslateblue;
    font-weight: 900;
}

.logoContainer{
    display: flex;
    gap: 20px;
}

.inputSearch{
    width: 20rem;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 1rem;
    padding:0 1rem;
}
.inputSearch:focus{
    outline: none;
    border: none;
}

.sideNavbar{
    display: flex;
    gap: 15px;
}

.sideNavbar img{
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.containerNavbar{
    display: flex;
    z-index: 1;
}


.hamburger-icon{
    height: 28px;
    width: 28x;
    cursor: pointer;
}

.searchBtn{
    margin-left: -50px;
    background: transparent;
}

.searchBtn img{
    background:transparent;
    height:25px;
    width: 25px;
}

.sectionContainer{
    padding-top: 1rem;
}

.containerNavbar{
    position:fixed;
    width: 100%;
}

.sideNavbar img{
    height:30px;
    width: 30px;
}

.loginBtn{
    font-weight: 900;
    font-size: 1.05rem;
    color: black;
}

.loginBtn:hover{
    color: darkslateblue;
}