.toggleContent{
    position: fixed;
    width: 18rem;
    padding: 15px 20px;
    background-color: white;
    height: 100vh;
    box-shadow: 1px 0px 10px rgba(1, 10, 112, 0.4);
    transition: ease-in 1s;
    z-index:2;
}

.title{
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(75, 74, 74);
}

.toggleContent img{
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-top: 0;
}

.hidden{
    display: none;
}


section ul{
    margin-top: 8px;
    padding-left: 0.6rem;
}

section ul li{
    gap: 7px;
    padding: 10px;
    border-radius: 8px;
}

section ul li:hover{
    cursor: pointer;
    background-color: rgba(1, 10, 112, 0.3);
}


span{
    font-size: 1rem;
    font-weight: 700;
}

ul li small{
    font-size: 0.9rem;
    font-weight: 600;
}