.bodyContainer{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.8rem;
    /* overflow: scroll; */
}

.tilteDashboard{
    border-left: 10px groove darkslateblue;
    padding-left: 6px;
}

.chart{
    background-color: white;
    width:100%;
    height: max-content;
    padding: 3rem 3rem;
    border-radius: 0.7rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.card-body{
    padding: 1.2rem 0.5rem !important;
    color: white;
    gap: 1rem;
    margin: 0 !important;
}

.card-body h5{
    color:rgb(170, 170, 170);
    font-weight: 900;
    font-size: 1.25rem;
}

.card-body p{
    color: rgb(158, 158, 158);
}

.card-title{
    font-size: 1rem;
    color: white;
}

.itemContainer{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    /* z-index:0; */
}

.modelCard{
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
}

.modelContainer{
    display: flex;
    gap: 1rem;
}

.modelContainer h5{
    font-size: 1.2rem;
    color: rgb(88, 88, 88);
}

.divider{
    color: black !important;
    width: 100%;
    margin: 10px 0;
}

.planContainer{
    width: 90%;
}

#productInfo{
    width: 100%;
    resize: none;
    border: 1px solid rgb(226, 226, 226);
}


/* Faulty ProductionFaulty ProductionFaulty Production */
/* -------------------------------------------- Media Query (Screen : Laptop) ---------------------------------------*/
