body{
    background-color:rgb(240, 240, 240);
    font-family: "Nunito Sans", sans-serif;
}

ul{
    list-style: none;
    padding: 0;
}

.body{
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

#product, #customers,#transactions,#daily,#breadkdown,#admin,#dashboard,#overview,#monthly{
    margin-top: 80px;
}
