body{
    background-color:rgb(240, 240, 240);
    font-family: "Nunito Sans", sans-serif;
}

ul{
    list-style: none;
    padding: 0;
}

.body{
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

#product, #customers,#transactions,#daily,#breadkdown,#admin,#dashboard{
    margin-top: 80px;
}

.cardContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    z-index:0;
    gap: 20px;
}